.settings
.project
app-prime-data/.settings
app-prime-data/.classpath
app-prime-data/.project
app-prime-data/target
app-prime-entities/.settings
app-prime-entities/.classpath
app-prime-entities/.project
app-prime-entities/target
app-prime-services/.settings
app-prime-services/.classpath
app-prime-services/.project
app-prime-services/target
app-prime-web/.settings
app-prime-web/target
app-prime-web/.classpath
app-prime-web/.project
